html, body, #root, .App {
  height: 100%;
}

.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}
.main-content {
  display: flex;
  justify-content: center;
}
.padded {
  max-width: 1240px;
}
.section-skeleton-container {
  height: 100%;
}
.section-skeleton-container > span {
  height: 100%;
  /* line-height: 8; */
}
.section-skeleton-container > span > span {
  height: calc(
    calc(100% - (20px * 5)) / 5
  );
  margin-top: 10px;
  margin-bottom: 10px;
  /* line-height: 6 !important; */
}
div.filter-container {
  /* Div selector for `important` to take precedence over bootstrap rule */
  padding-left: 0!important;
  padding-top: 0!important;
}
.filter-tag-container {

}
.filter-tag-container > * {
  /* Margins combined with padding allow for spacing to remain cohesive even when the container wraps. */
  margin-left: .5rem;
  margin-top: .5rem;
}
.filter-tag-container > *:first-child {
  /* margin-left: .5rem!important; */
  /* Only the first chlid should have a margin-left. The elements are all separated from each other by the margin-right rule. */
}
/* .filter-container > * {
  margin: .5rem!important;
  margin-left: 0!important;
}
.filter-container > *:first-child {
  margin-left: .5rem!important;
} */
.sort-select {
  /* margin: .5rem!important; */
  margin-top: .5rem!important;
}
/* .sort-select:first-child {
  margin-left: auto!important;
} */

.pagination > * {
  padding-bottom: 0;
}
.Post:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.Post, .filter-container {
  box-shadow: 0 1px 2.5px 0 rgb(0 0 0 / 10%)
}

.Post.skeleton .post-header, .Post.skeleton .post-footer > *, .Post.skeleton .post-avatar,
.section.skeleton > .section-header > div > *, .section.skeleton > .section-search > div > * {
  background-color: rgb(227,227,227);
}
.Post.skeleton .post-footer > * {
  /* visibility: hidden; */
}

.modal-title {
  text-transform: initial !important;
}

.hidden {
  visibility: hidden;
}
.info h6 {
  margin-bottom: 0!important;
  /* font-weight: 600; */
}
.info .card-body, .info table {
  padding: 0;
  margin: 0;
}
.info table tbody tr:first-child td {
  border-top: 0!important;
}
.info table tbody tr:nth-of-type(odd) td {
  background-color: rgb(251, 251, 251);
}
.info table tbody tr:nth-of-type(even) td {
  background-color: rgb(245, 245, 245)
}
.info table tbody td:first-child {
  /* font-weight: 500; */
}
.info table tbody td {
  /* border: 0!important; */
}
.bottom-table-container {
  display: flex;
  align-items: flex-start;
}
.status-table {
  flex-grow: 1;
}
.environment-table {
  flex-grow: 1;
  /* width: 75%; */
}
.config-table {
  /* flex-grow: 1; */
}

.chartjs-canvas {
  width: 100% !important;
  height: auto !important;
}
.outer-player-container.play {
  background-color: var(--primary);
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
}
.outer-player-container.error {
  background-color: var(--danger) !important;
  background-image: none !important;
}
.inner-player-container {
  background-color: white;
  /* padding: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 39px;
}
.outer-player-container .audio-player {
  transition: all .1s ease-in-out;
}
.outer-player-container.play .audio-player {
  /* margin-left: 4px; */
  /* margin-bottom: 2px; */
  /* font-size: 20px !important; */
  font-size: 30px !important;
  margin-left: 1px;
}
.outer-player-container.play.paused .audio-player {
  margin-left: 4px;
  font-size: 32px !important;
}
.outer-player-container .audio-player:hover {
  transform: scale(1.1);
  /* filter: brightness(.9); */
}
.outer-player-container.play .audio-player.error, .outer-player-container.play .audio-player.loading  {
  font-size: 28px !important;
  margin-left: 1px !important;
}

.outer-player-container .audio-player.error:hover, .outer-player-container .audio-player.loading:hover {
  transform: none;
}
.audio-player.complete {
  color: var(--primary);
}
.audio-player {
  /* font-size: 24px; */
  font-size: 36px;
  color: rgb(188, 189, 191);
  transition: color .1s ease-in-out;
  /* border-radius: 100%; */
  /* border: 1px solid black; */
}

.bottom-controls {
  width: 100%;
}
.audio-progress-outer {
  height: 10px;
  position: relative;
}
.audio-progress-scrubber {
  width: 12px;
  height: 12px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 50%);
  opacity: 0;
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
  transition: opacity .1s ease-in-out;
  user-select: none;
  transform: translate(-50%, -50%);
}
.audio-progress-outer:hover .audio-progress-scrubber, .audio-progress-scrubber.dragging {
  /* background-color:red !important; */
  opacity: 1;
}
.audio-progress-inner {
  height: 3px;
  background-color: rgb(188, 189, 191);
}
.audio-progress-bar {
  height: 100%;
  background-color: var(--primary)
}
.audio-progress-outer:hover .audio-progress-bar {
  /* background-color: var(--secondary); */
}
.audio-player-controls .audio-player {
  display: none;
  font-size: 16px;
  margin-left: .5rem;
  margin-right: .5rem;
}
.progress-time {
  /* color: var(--dark); */
  margin-left: .5rem;
  margin-right: .5rem;
}
.bottom-controls > *:first-child {
  margin-left: 0.25rem !important;
}
.bottom-controls > *:last-child {
  margin-right: 0.25rem !important;
}
.audio-skip, .audio-repeat, .audio-download, .audio-reload {
  font-size: 16px;
  color: var(--secondary);
  transition: all .15s ease-in-out;
}
.audio-skip.disabled, .audio-repeat.disabled, .audio-download.disabled {
  color: rgb(0 0 0 / 25%) !important;
}
.audio-skip:hover, .audio-repeat:hover, .audio-download:hover {
  color: black;
}
.audio-download {
  /* White-space at top */
  margin-bottom: 3px;
}
.audio-repeat {
  /* Smaller-looking icon */
  font-size: 18px;
}
.audio-repeat.enabled {
  color: var(--primary);
}
.audio-repeat.enabled:hover, .audio-reload:hover {
  filter: brightness(75%);
}

@media (max-width: 576px) {
  .graph-controls {
    flex-grow: 1;
  }
  .scrape-graph-container {
    /* flex: 0; */
    /* flex-grow: 2; */
  }
  .environment-table {
    /* flex-basis: 0; */
    /* flex-grow: 1; */
    /* margin-left: 0 !important; */
  }
  .pagination.upper .page-item {
    display: none;
  }
  .pagination.upper .page-item.active,
  .pagination.upper .page-item.page-item-prev,
  .pagination.upper .page-item.page-item-next,
  .pagination.upper .page-item.page-item-first,
  .pagination.upper .page-item.page-item-last {
    display: list-item;
  }
  .pagination.upper .page-item.active .page-link::after {
    content: var(--active-link-after-text);
  }
  .Post {
    border: none!important;
  }
  .Post:nth-child(even) {
    background-color: var(--light);
  }
}
.loading::after {
  content: '';
  -ms-animation: loading-text 2.5s linear infinite;
  -o-animation: loading-text 2.5s linear infinite;
  -webkit-animation: loading-text 2.5s linear infinite;
  -moz-animation: loading-text 2.5s linear infinite;
  animation: loading-text 2.5s linear infinite;
}
@keyframes loading-text {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
}
.text-disabled {
  color: rgb(0 0 0 / 50%) !important;
}